<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
</header>
<main>
<div>
    <div th:each="event : ${events}">
        <label th:text="'Name: ' + ${event.getName()} + ', Description: ' + ${event.getDescription()} + ' Rating: ' + ${event.getPopularityScore()}">Event</label>
        <br>
        <div>
            <th:block>
                <form th:action="@{'/events/delete/' + ${event.getId()}}" method="POST">
                    <input type="submit" value="Delete" name="Delete">
                </form>
            </th:block>
            <a th:href="@{'/events/edit-form/' + ${event.getId()}}" class="btn btn-sm btn-info edit-product">
                <i>Edit</i>
            </a>
        </div>
        <br>
    </div>
    <hr>
    <form th:action="@{'/bookings/finalize'}" method="POST">
        <h4>Choose event:</h4>
        <select name="chosen_event">
            <option th:each="eve : ${events}"
                    th:value="${eve.getName()}"
                    th:text="${eve.getName()}">
            </option>
        </select>
        <h4>Choose number of tickets:</h4>
        <input type="number" name="numTickets" min="1" max="10" /><br /><br />
        <input type="submit" value="Submit" name="bookbool" />
    </form>
</div>
<hr>
<div>
    <form th:action="@{'/events/search'}" th:method="POST">
        <input type="search" name="search">
        <input type="submit" value="Search">
    </form>
</div>
<div>
    <a href="/events/add-form" th:method="POST">Add event</a>
</div>
</main>
</body>
</html>